@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@keyframes label-animation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-labels > * {
  animation: label-animation 1s forwards;
}

.animate-opacity {
  opacity: 0;
}

.animate-delay-1000 {
  animation-delay: 1s;
}

.animate-delay-2000 {
  animation-delay: 2s;
}

.animate-delay-3000 {
  animation-delay: 3s;
}

.animate-delay-4000 {
  animation-delay: 4s;
}

/* CUSTOM CURSOR */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.cursor-blob {
  position: absolute;
  width: 800px;
  height: 800px;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  opacity: 0.15;
  fill: rgba(255, 255, 255, 0.8);
  filter: blur(40px);
}
